:root {
  --bg-default: white;
  --bg-blue-400: #60A5FA;
  --bg-blue-600: #2563EB;

}
body {
  background-color: white;
  color: black;
}
.test-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  border: 2px blue solid;
}

.circle-progress {
  transform-origin: center;
  animation: rotation 2s infinite linear;
  
}
@keyframes rotation {
  10% {
    transform: rotate(0deg);
    border-color: rgb(97, 149, 245);
  }
  50% {
    transform: rotate(180deg);
    border-color: rgb(9, 193, 239);
  }
  100% {
    transform: rotate(360deg);
    border-color: rgb(116, 93, 248);
  }
}
/* from {
  transform: rotate(0deg);
  border-color: rgb(204, 0, 255);
}
to {
  transform: rotate(360deg);
  border-color: rgb(0, 234, 255);
} */

 .pagination-buttons  div{
  background-color: rgb(99, 99, 239);
  padding-block: 6px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  box-shadow: black 1px 1px 8px 1px;
  text-align: center;

 }
 .pagination-buttons div:hover {
  background-color: blue;
  color: white;
  cursor: pointer;

 }